<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whiteboard.mapper.ClassroomMapper">

    <select id="findClassroomByCode" resultType="com.example.whiteboard.model.Classroom">
        SELECT * FROM classrooms WHERE code = #{code}
    </select>

    <insert id="insertClassroom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classrooms (code, teacher_id) VALUES (#{code}, #{teacherId})
    </insert>

    <select id="findClassroomByTeacherId" resultType="com.example.whiteboard.model.Classroom">
        SELECT * FROM classrooms WHERE teacher_id = #{teacherId}
    </select>
</mapper>
