<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whiteboard.mapper.TeacherMapper">

    <select id="findTeacherByUsername" resultType="com.example.whiteboard.model.Teacher">
        SELECT * FROM teachers WHERE username = #{username}
    </select>

    <insert id="insertTeacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teachers (username, password) VALUES (#{username}, #{password})
    </insert>
</mapper>
